body{
    margin: 0;
    background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100%;
}

ul {
    margin: 0 auto;
    list-style-position: inside;
}
